$color-primary: #4a148c; // purple darken-4
$color-secondary: #009688; // Teal
$color-dark: #263238; // blue-grey darken-4

.Header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
    background: linear-gradient(to right, rgba($color-primary, 0.5), rgba($color-secondary, 0.5)), url('/static/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    &Content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &ImgContainer {
        $size: 10rem;
        width: $size;
        height: $size;
        background-color: #fff;
        border-radius: 50%;
        border: .3rem solid rgba(#fff, .8);
        margin: 1rem auto;
        overflow: hidden;
    }

    &Img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &SocialButton { margin-top: .5rem; }
}
